{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'product_create' %}">Добавить продукт</a>
</div>
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <img class="card-img-top"
                     src="{{ object.image|mymedia }}"
                     alt="Card image cap">
                <p>{{ object.product_description|split }}</p>
                <p>Активная версия: {{ object.active_version }}</p>
                <div class="btn-group">
                    <a href="{% url 'show_product' object.pk %}" class="btn btn-sm btn-outline-secondary">
                        Подробнее
                    </a>
                    {% if perms.catalog.change_category and perms.catalog.change_description and perms.catalog.set_published or object.creator == request.user %}
                    <a href="{% url 'product_edit' object.pk %}" class="btn btn-sm btn-outline-secondary">
                        Редактировать
                    </a>
                    <a href="{% url 'product_delete' object.pk %}" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <p>Создан: {{ object.creator.email }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
